
.responsive 
{
width: 100%;
max-width: 900px;
height: auto;
}
ul.footer {
    list-style-type: none;
    margin: 15px;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(15, 52, 82);
  }
  
  ul.footer li {float: left;
    border-right:2px solid gray;}
  
  ul.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  ul.footer li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.footer li.right, 
    ul.footer li {float: none;}
  }