
      .acti {
  background-color:#1978a5;
  padding:10px;
  margin:5px;
 border: 1px solid white;
   }
   body{
     background-image:url('frontimg.jpg');
     height:auto;
     width: auto;
     background-size:cover;
    
   } 
  
    

